Click==7.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-OAuth==0.12
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pymongo==3.7.1
python-dotenv==0.10.1
six==1.11.0
Werkzeug==0.14.1
Flask-RESTful==0.2.12
gunicorn==19.5.0
