.container {
  width: calc(100% - 4em);
  max-width: 500px;
  margin: left;
}

.tweet {

}



#quote {

    position: absolute;
    top: 30px;
    left: 30px;
    text-align: left;
    /* Change width */
    width: 500px;
    min-height: calc(100% - 100px);
}

form {
  float: left;
  margin: 0px 7px 0px 0px;
}

p {
  color: black;
}
